$yellow: #FFDF27;
$red: #A3301D;
$dark-blue: #284C71;
$light-blue: #B2C8DD;
$black: hsla(0%, 0%, 0%, 1);

/* Coolors Exported Palette - coolors.co/f26954-ffad99-54c8f2-96dfff-000000 */
$sunset-orange: hsla(8%, 86%, 64%, 1);
$light-salmon-pink: hsla(12%, 100%, 80%, 1);
$blue-jeans: hsla(196%, 86%, 64%, 1);
$winter-wizard: hsla(198%, 100%, 80%, 1);
$minion-yellow: hsla(48%, 86%, 64%, 1);
$flavescent: hsla(48%, 100%, 80%, 1);
$silver: hsla(0%, 0%, 75%, 1);    /*#BFBFBF*/
$light-gray: hsla(0%, 0%, 83%, 1);